@model List<WiredExamApp.Models.Title>
@{
    ViewBag.Title = "Create Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Create Article</h2>
<a href="/exam/edit">Back</a>
<br />
<form id="form">
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <select class="form-control" id="title" required>
                            <option value="" disabled selected>Select Article</option>
                            @foreach (var title in Model)
                            {
                                <option value="@title.ArticleLink">@title.ArticleTitle</option>
                            }
                        </select>
                    </div>
                    <label>Selected Article</label>
                    <div class="panel panel-primary" id="article-panel">
                        <div class="panel-heading" id="article-title"></div>
                        <div class="panel-body" id="article-text">

                        </div>
                    </div>
                </div>
            </div>
            @for (var i = 0; i < 4; i++)
            {
                <div class="question">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                @Html.Label("Question " + (i + 1))
                                @Html.TextArea("question",
                                                   new
                                                   {
                                                       @class = "form-control",
                                                       id = "questionText" + i,
                                                       placeholder = "Question Text",
                                                       rows = "3",
                                                       required = "true"
                                                   })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                @Html.Label("A")
                                @Html.TextBox("question", "",
                                                   new
                                                   {
                                                       @class = "form-control",
                                                       id = "question" + i + "selection1",
                                                       placeholder = "Selection",
                                                       required = "true"
                                                   })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("B")
                                @Html.TextBox("question", "",
                                                   new
                                                   {
                                                       @class = "form-control",
                                                       id = "question" + i + "selection2",
                                                       placeholder = "Selection",
                                                       required = "true"
                                                   })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                @Html.Label("C")
                                @Html.TextBox("question", "",
                                                   new
                                                   {
                                                       @class = "form-control",
                                                       id = "question" + i + "selection3",
                                                       placeholder = "Selection",
                                                       required = "true"
                                                   })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("D")
                                @Html.TextBox("question", "",
                                                   new
                                                   {
                                                       @class = "form-control",
                                                       id = "question" + i + "selection4",
                                                       placeholder = "Selection",
                                                       required = "true"
                                                   })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="form-group">
                                @Html.Label("Answer")
                                @Html.DropDownList("Value", new List<SelectListItem>()
                                                {
                                                new SelectListItem {Text = "Select Answer", Value = "", Disabled = true, Selected = true},
                                                new SelectListItem {Text = "A", Value = "1"},
                                                new SelectListItem {Text = "B", Value = "2"},
                                                new SelectListItem {Text = "C", Value = "3"},
                                                new SelectListItem {Text = "D", Value = "4"}
                                                },
                                     new
                                     {
                                         @class = "form-control",
                                         required = "true",
                                         id = "answer" + i
                                     })
                            </div>
                        </div>
                    </div>
                </div>
            }
            <hr>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <a href ="/exam/edit" class="btn btn-danger">Cancel</a>
                    <button class="btn btn-primary" id="submitButton" type="button">Create Exam</button>
                </div>
            </div>

        </div>
    </div>
</form>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#title").change(
                function () {
                    var link = this.value;
                    $("#article-text")
                        .html("<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i><span class='sr-only'>Loading...</span>");

                    $.getJSON("/api/wiredservice?queryString=" + link,
                        function (article) {
                            if (!article)
                                $("#article-text")
                                    .html(
                                    "<p>We can not get any content, could you try an other article</p>");
                            else {
                                var title = $("#title option:selected").text();
                                $("#article-text").html(article);
                                $("#article-title").html(title);
                            }
                        })
                        .done(function () {
                            console.log("successfully load titles");
                        })
                        .fail(function () {
                            $("#load-state-text").show().innerText = "An error occurred, please try again.";
                        });
                });


            $("#submitButton").click(function () {
                var valid = $('#form')[0].checkValidity();
                debugger
                if (!valid) {
                    bootbox.alert({
                        title: "Opps!",
                        buttons: {
                            "ok": {
                                "label": "Ok",
                                "className": "btn-danger"
                            }
                        },
                        message: "Did you missing some fields? Remember you should fill all fields.",
                        callback: function () {

                        }
                    });
                    return;
                }
                var dto = {
                    articleText: $("#article-text").text(),
                    title: $("#title option:selected").text(),
                    questions: [
                        {
                            questionText: $("#questionText0").val(),
                            selections: [
                                { text: $("#question0selection1").val() },
                                { text: $("#question0selection2").val() },
                                { text: $("#question0selection3").val() },
                                { text: $("#question0selection4").val() }
                            ],
                            answer: $("#answer0 option:selected").val()
                        },
                        {
                            questionText: $("#questionText1").val(),
                            selections: [
                                { text: $("#question1selection1").val() },
                                { text: $("#question1selection2").val() },
                                { text: $("#question1selection3").val() },
                                { text: $("#question1selection4").val() }
                            ],
                            answer: $("#answer1 option:selected").val()
                        },
                        {
                            questionText: $("#questionText2").val(),
                            selections: [
                                { text: $("#question2selection1").val() },
                                { text: $("#question2selection2").val() },
                                { text: $("#question2selection3").val() },
                                { text: $("#question2selection4").val() }
                            ],
                            answer: $("#answer2 option:selected").val()
                        },
                        {
                            questionText: $("#questionText3").val(),
                            selections: [
                                { text: $("#question3selection1").val() },
                                { text: $("#question3selection2").val() },
                                { text: $("#question3selection3").val() },
                                { text: $("#question3selection4").val() }
                            ],
                            answer: $("#answer3 option:selected").val()
                        }
                    ]
                };
                $.ajax({
                    type: "POST",
                    url: "/api/exam",
                    data: dto,
                    success: function (res) {
                        bootbox.alert({
                            size: "small",
                            title: "Beautiful",
                            buttons: {
                                "ok": {
                                    "label": "Ok",
                                    "className": "btn-success"
                                }
                            },
                            message: "Exam created successfully.",
                            callback: function () {
                                document.getElementById("form").reset();
                                $("#article-panel div").html("");
                                location.href = "/exam/edit";
                            }
                        });
                    },
                    error: function (err) {
                        if (err.status === 400) {
                            bootbox.alert({
                                size: "small",
                                title: "Oopps!",
                                buttons: {
                                    "ok": {
                                        "label": "Ok",
                                        "className": "btn-danger"
                                    }
                                },
                                message: "Please fill all fields and try again.",
                                callback: function () {
                                    console.log(err);
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}



