@model IEnumerable<WiredExamApp.Models.Title>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Articles</h2>

<p class="pull-right">
    @Html.ActionLink("New Exam", "Create", null, new {@class = "btn btn-primary btn-sm"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="@item.Id">
        <td>
            @Html.DisplayFor(modelItem => item.ArticleTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDate)
        </td>
        <td>
            <button class="btn btn-danger js-delete" 
                    data-id="@item.Id" data-toggle="tooltip" 
                    data-placement="right" title="Delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </td>
    </tr>
}

</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            })
            $(".js-delete").on("click", function () {
                var id = $(this).attr("data-id");
                
                bootbox.confirm({
                    size: "small",
                    title: "Warning!",
                    buttons: {
                        "confirm": {
                            "label": "Delete",
                            "className": "btn-danger"
                        },
                        "cancel": {
                            "label": "Cancel",
                            "className": "btn-primary"
                        }
                    },
                    message: "Are you sure to delete it?",
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                type: "DELETE",
                                url: "/api/exam/" + id,
                                success: function() {
                                    $("#" + id).remove();
                                    console.log("successfully removed");
                                },
                                error: function(err) {
                                    bootbox.alert({
                                        size: "small",
                                        title: "Sorry!",
                                        buttons: {
                                            "ok": {
                                                "label": "Ok",
                                                "className": "btn-info"
                                            }
                                        },
                                        message: "An error occured, please try again after page reloads.",
                                        callback: function() {
                                            location.reload();
                                            console.log(err);
                                        }
                                    });
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}